/* Cambiar el color del botón */
.btn-custom {
    color: #ffffff; /* Cambia el color del texto */
    background-color:  #3750a1; /* Cambia el color de fondo en hover */
    border-color: #0a1127; /* Cambia el color del borde */
}

/* Cambiar el color de hover del botón */
.btn-custom:hover {

    color: #ffffff; 
    background-color:  #2a586d; 
    border-color: #0a1127; 
}

.btn-tomar {
    color: #ffffff; 
    background-color:  #ff7640; 
    border-color: #8f3419; 
}

/* Cambiar el color de hover del botón */
.btn-tomar:hover {

    color: #ffffff; /* Cambia el color del texto */
    background-color:  #f5875c; /* Cambia el color de fondo en hover */
    border-color: #8f3419; /* Cambia el color del borde */
}




/*Modal 

/* CSS para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  .disable-click {
    pointer-events: none;
}

.close-red {
  color: #ffffff;
  background-color: #eb1616; 
  border-color: #ffffff00; 
  /* Ajusta otros estilos según sea necesario */
}

.close-red:hover {
  color: #ffffff;
  background-color: #b31616; 
  /* Ajusta otros estilos según sea necesario */
}

.close-square {
  width: 35px; /* Ajusta el valor según sea necesario */
  height: 35px; /* Ajusta el valor según sea necesario */
  padding: 0; /* Ajusta el relleno según sea necesario */
  /* Otros estilos según sea necesario */
}

.close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.btn-cancelar {
  color: #ffffff; 
  background-color:  #eb1616; 
  border-color: #291008; 
}

/* Cambiar el color de hover del botón */
.btn-cancelar:hover {

  color: #ffffff; /* Cambia el color del texto */
  background-color:  #fc4949;  /* Cambia el color de fondo en hover */
  border-color: #291008;  /* Cambia el color del borde */
}

.tarea-terminada {
  background-color: rgba(76, 175, 80, 0.5); /* Verde claro */
}

.btn-success {
  color: #ffffff; 
  background-color:  #398d59; 
  border-color: #09130a; 
}

/* Cambiar el color de hover del botón */
.btn-success:hover {

  color: #ffffff; /* Cambia el color del texto */
  background-color:  #285f3d;   /* Cambia el color de fondo en hover */
  border-color: #09130a;   /* Cambia el color del borde */
}

.btn-prueba{
color: #ff9b58af;
}